.section{
  display:flex;
  align-items: center;
  flex-wrap: wrap;
  height:10%;
  background:#5D6D7C;
  position:fixed;
  width:100%;
  top:0;
  z-index:1;
}
.logo{
  text-align:center;
	width:10%;
}
.logo img{
  padding:0px;
  margin:0px;
  width:80%;
}
.inputBar{
  width:50%;
  padding-left:30px;
  flex-grow:9;
}
.rightBar{
  display:flex;
  z-index:2;
  width:20%;
  justify-content: flex-end;
  padding-right:30px;
}
.rightBar > .icon{
  padding:0px 10px;
  color:#F2EFE2;
  cursor:pointer;
}
.rightBar > .icon span{
  position:relative;
  bottom:20px;
  left:3px;
  font-size:14px;
}
.rightBar > .icon:hover{
  color:#fff;
}
  @media(max-width: 890px) {
    .logo{
      width:15%;
    }
    .inputBar{
      width:35%;
      padding-left:10px;
    }
    .rightBar{
      width:30%;
      padding-right:10px;
    } 
  }
  @media(max-width: 513px) {
    .logo{
      width:20%;
    }
    .inputBar{
      width:25%;
      padding-left:10px;
    }
    
  }